.background
{
    background-color:#101011;
}

h1, h2, h3, h4, p 
{
    color:#fff;
}

h1
{
  font-size:52px;
}


.nav-link:disabled {
  background-color: #6c757d; 
  color: #fff; 
  cursor: not-allowed; 
  opacity: 0.65; 
}

body {

  height: 100vh;
  background-size: cover;
  padding: 0;
    background-color: #000; 
    margin: 0;
    overflow: hidden;
    color: #00ff00;
    font-family: monospace; 
    
  
}

section {
  min-height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}







.nav-item .nav-link 
{
  color:#00ff00!important;
}


.floating-circle {
  width: 250px; 
  height: 250px;
  border-radius: 50%; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
}

.floating-circle img {
  width: 100%; 
  height: auto;
}



.hover-underline {
  position: relative; 
  display: inline-block; 
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; 
  background-color: #fff; 
  bottom: -5px; 
  left: 0;
  transition: width 0.4s ease-out;
}


.hover-underline.active::after {
  width: 100%; 
}


.arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem; 
  color: #000; 
}

.arrow2 {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem; 
  color: #000; 
}

.bounce {
  animation: bounce 2s infinite;
}

.fade-in-text {
  animation: fallFadeIn 1s ease-out;
}


/* Animações  */

@keyframes fallFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }   
      100% {
        opacity: 1;
        transform: translateY(0); 
      }
    }



  @keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(20px);
    }
  }
  
  .typing-text {
    display: inline-block;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.7s step-end infinite;
    min-height:37px;
}
@keyframes blink {
    50% { border-color: transparent; }
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; 
  background-color: #101011; 
}


/*  Social media  */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  
}

.social-icon {
  font-size: 24px;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0073b1; 
}

.social-icon i {
  display: inline-block;
}


.social-icon:hover .fa-linkedin {
  color: #0077b5; 
}

.social-icon:hover .fa-instagram {
  color: #e1306c; 
}

.social-icon:hover .fa-whatsapp {
  color: #25d366; 
}
