.background
{
    background-color:#101011;
}

h1, h2, h3, h4, p 
{
    color:#fff;
}

h1
{
  font-size:52px;
}

.card-content
{
  line-height: 1;
  color:#fff;
}

.cargo
{
  font-size:20px!important;
}

.empresa
{
  font-size:18px!important;
}

.data
{
  font-size:16px!important;
}

.habilidades
{
  font-weight: bold;
}

.nav-link:disabled {
  background-color: #6c757d; 
  color: #fff; 
  cursor: not-allowed; 
  opacity: 0.65; 
}

body {

  height: 100vh;
  background-size: cover;
  padding: 0;
  background-color: #000; 
  margin: 0;
  overflow: hidden;
  color: #00ff00;
  font-family: monospace; 
    
  
}

section {
  min-height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


.nav-item .nav-link 
{
  color:rgb(0, 255, 0)!important;
}



.hover-underline {
  position: relative; 
  display: inline-block; 
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; 
  background-color: #fff; 
  bottom: -5px; 
  left: 0;
  transition: width 0.4s ease-out;
}


.hover-underline.active::after {
  width: 100%; 
}


.arrow {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem; 
  color: #000; 
}

.arrow2 {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem; 
  color: #000; 
}

.bounce {
  animation: bounce 2s infinite;
}

.fade-in-text {
  animation: fallFadeIn 1s ease-out;
}


/* Animações  */

@keyframes fallFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }   
      100% {
        opacity: 1;
        transform: translateY(0); 
      }
    }



  @keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(20px);
    }
  }
  
  .typing-text {
    display: inline-block;
    border-right: 2px solid;
    white-space: wrap;
    overflow: hidden;
    animation: blink 0.7s step-end infinite;
    min-height:37px;
}
@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes dotAnimation {
  0% {
      top: 0;
      left: 0;
  }
  25% {
      top: 0;
      left: 100%;
      transform: translateX(-100%);
  }
  50% {
      top: 100%;
      left: 100%;
      transform: translate(-100%, -100%);
  }
  75% {
      top: 100%;
      left: 0;
      transform: translateY(-100%);
  }
  100% {
      top: 0;
      left: 0;
  }
}


#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; 
  background-color: #101011; 
}

.card {
  position: relative;
  background-color: #101011;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card-projects
{
    position: relative;
    background-color: #101011;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    min-height:400px;
    max-height:401px;
}

.card:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; 
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(0, 255, 0, 0.1), transparent);
  transition: transform 1s ease;
  transform: translateX(-100%);
}

.card:hover::before {
  transform: translateX(100%); /* Movimenta a sombra para a direita */
}

@media (max-width:768px)
{

  
  
  body
  {
    overflow: auto;
  }

  nav .navbar-toggler
  {
    display:none;
  }

  .typing-text {
    display: inline-block;
    border-right: 2px solid;
    white-space: wrap;
    overflow: hidden;
    animation: blink 0.7s step-end infinite;
    min-height:0px;
    margin-top:20px;
}

.typing-text-container
{
  min-height:105px;
  text-align:center;
}


  #particles-js {
  display:none;
  }
  }




/*  Social media  */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  
}

.social-icon {
  font-size: 24px;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0073b1; 
}

.social-icon i {
  display: inline-block;
}


.social-icon:hover .fa-linkedin {
  color: #0077b5; 
}

.social-icon:hover .fa-instagram {
  color: #e1306c; 
}

.social-icon:hover .fa-whatsapp {
  color: #25d366; 
}


/* Skills Section */



.skill-icon {
  font-size: 50px;
  color: #00ff00;
  transition: transform 0.3s ease;
}

.skill-box:hover .skill-item {
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 255, 0, 0.3);
}

h3 {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
}

#floating-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}


/* Contact CSS */


#contato .form-control {
  color: #00ff00; 
}


#contato .form-control:focus {
  color: #00ff00; 
  border-color: #00ff00;
}


#contato textarea.form-control {
  color: #0ff003; 
}

#contato input
{
  background-color:#101011;
  border:1px solid #00ff00;
  border-radius:15px;
}

#contato textarea
{
  background-color:#101011;
  border:1px solid #00ff00;
  border-radius:15px;
}

#contato .form-label {
  font-weight: bold;
  color: #0ff005;
}

#contato .form-control {
  border-radius: 8px;
  padding: 15px;
}

#contato .btn-primary {
  background-color: transparent;
  border-color: #0ff005;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}


/* 
#globe-container {
  width: 100%;
  height: 100vh;
}

.skill-icon {
  font-size: 50px;
  color: #ffffff;
  pointer-events: none;
} */


/* Botão no estilo Fallout da home. */

.fallout-button {
  background: linear-gradient(145deg, #41a849, #2e8040); 
  border: 3px solid #fffbce; 
  color: #fffbce!important; 
  font-size: 16px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 8px;
  text-shadow: 1px 1px 2px #000;
  box-shadow: 0 4px #254729, 0 0 8px #2aff84;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  text-decoration:none!important;
}

.fallout-button:hover {
  background: linear-gradient(145deg, #2e8040, #41a849);
  box-shadow: 0 6px #254729, 0 0 12px #2aff84;
  transform: translateY(-3px);
}

.fallout-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px #254729, 0 0 6px #2aff84;
}


/* Projects */

.members img
{
  border-radius:100%;
  height:20px;
  width: 20px;
  margin-left:5px;
}

.project-card .footer 
{
  display:flex;
  flex-wrap:wrap;
  width: 100%;
  align-items: center;
}

.project-card .footer .members
{
  width: 95%;
  text-align:left;
}

.project-image
{
  max-height:165px;
  text-align:center;
}

.project-image img
{
  max-height:165px;
}



.project-card .project-image
{
  min-height:150px;
  max-height:150px;
  height: 150px;
  text-align: center;
}

.project-card .project-image img
{
  min-height:150px;
  max-height:150px;
  height: 150px;


}

.project-card .tags
{
    display: inline-block;
    color: #00ff00;
    border-radius: 20px;
    font-weight: 600;
    justify-content: center;
}

.members a
{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  text-decoration: none;
}


.pixel-button
{
  border-radius:5px;
  padding:10px;
  text-decoration: none;
}

.view-live
{
  color:#fff;
  background-color: #2e8040;
}

.view-code
{
  color:#fff;
  background-color: #0077b5;
}


.project-card .about-project
{
  min-height:100px;
}